/*
 *Name: [Aidan Carpenter]
 *UnityID: [ABCARPE3]
 *Date: [4.5.2024]
 *Assignment: [Independent Assignment]
 *Description: [Independent Assignment styling]
 */
 
p {
    background-color:#CC0000;
}

.table-border {
    border: 1px solid #000000;
}

#photo-resize {
	  max-width: 200px;
	  max-height: 250px;
}

img {
  border: 5px solid #555;
}
